extends base

block content 
    main.main
        section.section-reviews
            .aboutUs-form
                h1.heading-secondary.ma-bt-lg(style='font-size: 5em') About Us
                br
                h2.form__label(style='font-size: 2.5em') Our Mission
                p(style='font-size: 1.5em')
                    | At Natours, we are passionate about helping people experience the beauty and adventure of nature. We understand that life can be busy and stressful, and that's why we offer a wide range of tours for individuals and groups to help you escape the daily grind and explore the great outdoors.
                br
                h2.form__label(style='font-size: 2.5em') Our Team
                p(style='font-size: 1.5em')
                    | Our team of experienced tour guides and support staff are dedicated to making your journey as enjoyable and hassle-free as possible. We take care of all the details, so you can sit back and focus on having a great time. Whether you're an experienced hiker or a first-time adventurer, we have a tour that's right for you.
                br
                h2.form__label(style='font-size: 2.5em') Our Tours
                p(style='font-size: 1.5em')
                    | We offer a variety of tours, including hiking and walking tours, wildlife viewing tours, and cultural and historical tours. No matter which tour you choose, you can be sure that you'll be in good hands with our knowledgeable and friendly guides.
                br
                h2.form__label(style='font-size: 2.5em') Start Your Adventure Today!
                p(style='font-size: 1.5em')
                    | So why wait? Start planning your next adventure with Natours today! We can't wait to share the beauty and wonder of nature with you.
        section.section-cta
        .cta
            .cta__img.cta__img--logo
                img(src='/img/logo-white.png', alt='Natours logo')
            .cta__content
                h2.heading-secondary What are you waiting for?
                button.btn.btn--green.span-all-rows Book tour now!